*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-text:'Inter' , sans-serif;
    --secondary-text: 'Space Grotesk' , sans-serif;
}
.back{
    background-image: url("https://makhnostudio.com/wp-content/uploads/2023/03/8732-3-3-1-33187.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back h1{
    color: white;
    text-transform: uppercase;
    font-family: var(--secondary-text);
    font-size: 140px ;
    margin: 0;
    position: absolute;
    word-spacing: 2px;
    letter-spacing: 5px;
    opacity: 0;
    transform: translateY(30px);
    animation: appear 1.5s ease forwards;
    top: 250px;
}
@keyframes appear {
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    height: 400px;
    width: 90vw;
    margin-block: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    transition: all 3s;
}

.box:hover{
    transform: scale(1.06);
}

.image{
    height: 350px;
    width: 35%;
    margin: 25px;
    background-size: cover;
    background-position: center;
}

.content{
    height: 350px;
    width: 800px;
    margin-top: 25px;
    border: none;
    border-block: 1px solid black;
    padding-right: 15px;
}

.content h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--secondary-text);
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.content p{
    color: black;
    font-family: 'Space Grotesk' , sans-serif;
}

.content button{
    padding: 10px;
    margin-block: 20px;
    text-transform: uppercase;
    font-family: var(--secondary-text);
    border: 1.5px solid black;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}

.content button:hover{
    background: black;
    color: white;
}
.first{
    background-image: url('https://api.architectuul.org/media/4ed8e689-627c-4491-a71d-020c6d7b5f76/1312x.jpg');
    background-size: cover;
}
.second{
    background-image: url('https://arquitecturaviva.com/assets/uploads/obras/54105/av_imagen_vertical.webp?h=70bdcd84');
    background-size: cover;
}
.three{
    background-image: url('https://i0.wp.com/archeyes.com/wp-content/uploads/2025/03/Aerial-View-Chichu-Art-Museum-by-Tadao-Ando-ccam_fi.jpg?ssl=1');
    background-size: cover;
}
.four{
    background-image: url('https://static.wixstatic.com/media/0776da_ddb9d89bb729416e8ee4bc87c1fecd11~mv2.png/v1/fill/w_1000,h_665,al_c,q_90,usm_0.66_1.00_0.01/0776da_ddb9d89bb729416e8ee4bc87c1fecd11~mv2.png');
    background-size: cover;
}
.five{
    background-image: url('https://i.pinimg.com/736x/1e/66/8b/1e668b000ff5bb1a81cbe73edc2cbedd.jpg');
    background-size: cover;
}
.six{
    background-image: url('https://images.adsttc.com/media/images/6555/ec3d/f96c/763a/5b24/05d3/newsletter/designed-by-tadao-ando-mpavilion-10-opens-in-melbourne-australia_1.jpg?1700129902');
    background-size: cover;
}
.seven{
    background-image: url('https://cdn.ca.emap.com/wp-content/uploads/sites/12/2021/09/architectural-review-tadao-ando-bourse-du-commerce-13-1923x1200.jpg');
    background-size: cover;
}
.eight{
    background-image: url('https://www.ronenbekerman.com/wp-content/uploads/2017/01/b1f9565750b96f53281e8c007c6e5565-1030x579.jpg');
    background-size: cover;
}
.nine{
    background-image: url('https://arquitecturaviva.com/assets/uploads/obras/46069/av_imagen.webp');
    background-size: cover;
}
.ten{
    background-image: url("https://www.themodern.org/sites/default/files/2019-01/modern-art-museum-of-fort-worth-original-9813.jpg");
    background-size: cover;
}
@media (max-width: 900px) {

  /* HERO TITLE FIX */
  .back h1 {
    font-size: 55px;
    top: 180px;
    padding: 0 20px;
    text-align: center;
  }

  /* BOXES RESPONSIVE */
  .box {
    flex-direction: column;
    height: auto;
    width: 95vw;
    margin-block: 30px;
    border: 1px solid black;
  }

  /* IMAGE FIX */
  .image {
    width: 100%;
    height: 250px;
    margin: 0;
    background-position: center;
  }

  /* CONTENT FIX */
  .content {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    border: none;
    border-top: 1px solid black;
    text-align: left;
  }

  .content h2 {
    font-size: 22px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.6em;
  }

  .content button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 12px;
  }
}


/* SMALL PHONE FIX  */
@media (max-width: 480px) {

  .back h1 {
    font-size: 40px;
    line-height: 1.2;
    top: 160px;
  }

  .image {
    height: 200px;
  }

  .content p {
    font-size: 13px;
  }
}
