*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-text:'Inter' , sans-serif;
    --secondary-text: 'Space Grotesk' , sans-serif;
}
.back{
    background-image: url("https://www.sleek-mag.com/wp-content/uploads/2017/02/Mental-Health-900x600.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back h1{
    color: white;
    text-transform: uppercase;
    font-family: var(--secondary-text);
    font-size: 100px ;
    margin: 0;
    position: absolute;
    word-spacing: 2px;
    letter-spacing: 5px;
    opacity: 0;
    transform: translateY(30px);
    animation: appear 1.5s ease forwards;
    top: 250px;
}
@keyframes appear {
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    height: 400px;
    width: 90vw;
    margin-block: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    transition: all 2s;
}

.box:hover{
    transform: scale(1.06);
}

.image{
    height: 350px;
    width: 35%;
    margin: 25px;
    background-size: cover;
    background-position: center;
}

.content{
    height: 350px;
    width: 800px;
    margin-top: 25px;
    border: none;
    border-block: 1px solid black;
    padding-right: 15px;
}

.content h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--secondary-text);
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.content p{
    color: black;
    font-family: 'Space Grotesk' , sans-serif;
}

.content button{
    padding: 10px;
    margin-block: 20px;
    text-transform: uppercase;
    font-family: var(--secondary-text);
    border: 1.5px solid black;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
}

.content button:hover{
    background: black;
    color: white;
}

.first{
    background-image: url("https://www.amazingczechia.com/wp-content/uploads/2020/09/dancing-house-prague.jpg");
    background-size: cover;
}
.second{
    background-image: url("https://www.permasteelisagroup.com/wp-content/uploads/2025/03/permasteelisa-projects-eight-spruce-street-facade_2-ME.jpg");
    background-size: cover;
}
.third{
    background-image: url("https://sheehyconstruction.com/wp-content/uploads/2017/02/Weisman-1024x683.jpg");
    background-size: cover
}
.four{
    background-image: url("https://www.hydrotechusa.com/sites/default/files/styles/large/public/projects/StataCenter2.jpg?itok=kB_H1Cmy");
    background-size: cover;
}
.five{
    background-image: url("https://www.parisselectbook.com/wp-content/uploads/2024/06/retouche-photo-word-press-26.jpg");
    background-size: cover;
}
.six{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Walt_Disney_Concert_Hall%2C_LA%2C_CA%2C_jjron_22.03.2012.jpg/1200px-Walt_Disney_Concert_Hall%2C_LA%2C_CA%2C_jjron_22.03.2012.jpg");
    background-size: cover;
}
.seven{
    background-image: url("https://cms.guggenheim-bilbao.eus/uploads/2021/03/2-1.jpg");
     background-size: cover;
}
.eight{
    background-image: url("https://media.hostunusual.com/wp-content/uploads/2022/04/31170405/marques-de-riscal-night.jpg");
    background-size: cover;
}
/* -------------------------------------------------- */
/*      FULL MOBILE RESPONSIVENESS FOR GEHRY PAGE     */
/* -------------------------------------------------- */

@media (max-width: 900px) {

  /* HERO TITLE FIX */
  .back h1 {
    font-size: 55px;
    top: 180px;
    padding: 0 20px;
    text-align: center;
  }

  /* BOXES RESPONSIVE */
  .box {
    flex-direction: column;
    height: auto;
    width: 95vw;
    margin-block: 30px;
    border: 1px solid black;
  }

  /* IMAGE FIX */
  .image {
    width: 100%;
    height: 250px;
    margin: 0;
    background-position: center;
  }

  /* CONTENT FIX */
  .content {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    border: none;
    border-top: 1px solid black;
    text-align: left;
  }

  .content h2 {
    font-size: 22px;
  }

  .content p {
    font-size: 14px;
    line-height: 1.6em;
  }

  .content button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 12px;
  }
}


/* SMALL PHONE FIX  */
@media (max-width: 480px) {

  .back h1 {
    font-size: 40px;
    line-height: 1.2;
    top: 160px;
  }

  .image {
    height: 200px;
  }

  .content p {
    font-size: 13px;
  }
}
