*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-text: 'Inter' , sans-serif;
    --secondary-text: 'Space Grotesk' , sans-serif;
}
.back{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTo8ZLyQiTZUDTBtwJu2bBzqNt2qnbct0ChvA&");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 300px;
}
.back h1{
    font-size: 100px;
    position: absolute;
    top: 170px;
    color: white;
    text-transform: uppercase;
    font-family: var(--secondary-text);
    opacity: 0;
    transform: translateY(30px);
    animation: appear 1.5s ease forwards ;
}
@keyframes appear {
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}