*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.back{
    height: 100vh;
    width: 100vw;
    background-image: url("images/pexels-jplenio-1632788.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

nav{
    font-family: 'Space Grotesk', 'sans-serif';
    display: flex;
    justify-content: space-around;
    padding: 25px;
    position: sticky;
    top: 0px;
    inset: 0;
}
nav.scrolled{
    background-color: white;
    transition: background-color 0.4s ease;
    box-shadow: 0 0 15px black;
}
nav.scrolled ul li,
nav.scrolled .logo{
    color: black;
}
nav ul{
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 40px;
    color: white;
    font-weight:300;
    letter-spacing: 1px;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    color: white;
}

nav ul li:hover{
    opacity: 0.7;

    transition: all 0.3s;
}

/* Responsivness */
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin: 10px;
}
.hamburger span{
    height: 3px;
    width: 25px;
    background: white;
    display: block;
}
.logo{
    font-size: 27px;
    font-weight: 700;
    color: white;
    font-family: 'Space Grotesk', 'sans-serif';
}
/* .back:hover{
    filter: grayscale(0%);
} */
.content{
    height: 400px;
    width: 270px;
    border: 1px solid transparent;
    position: absolute;
    top: 500px;
    left: 100px;
}
.content p{
    color: white;
    font-family: 'Space Grotesk', 'sans-serif';
    font-size: 18px;
    text-transform: uppercase; 
    opacity: 0.8;   
    letter-spacing: 1px;
}
.content h1{
    font-family: 'Space Grotesk', 'sans-serif';
    color: white;
    font-size: 50px;
}
.content button{
    height: auto;
    width: auto;
    font-size: 15px;
    position: absolute;
    top: 200px;
    border: 1.5px solid white;
    color: white;
    background: transparent;
    padding: 10px;
    font-family: 'Inter' , sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    cursor:pointer;
}
.content button:hover{
    background-color: white;
    color: black;
    transition: all 0.8s;
}


/* MAIN */

/* Infinite Scrollbar */

#heading{
    text-transform: uppercase;
    color: black;
    font-size: 50px;
    font-family: 'Space Grotesk', 'sans-serif';
    padding: 10px;
    padding-block: 50px;
    font-weight: 1000;
    line-height: 3em;
    word-spacing: 2px;
    padding-left: 20px;
}
.wrapper{
    /* margin-top: 500px; */
    height: 300px;
    width: max-content;
    top: 1550px;
    display: flex;
    overflow-x: scroll;
   animation: scroll 70s linear infinite;
   gap: 20px;
}
.wrapper::-webkit-scrollbar{
    display: none;
}
.ininite-scroll:hover .wrapper {
    animation-play-state: paused;
}

.card{
    overflow: auto;
    height: 300px;
    width: 500px;
    border: 1px solid transparent;
    flex: 0 0 35em;
    border: none;
}

.one{
    height: 300px;
    width: 100%;
    background-image: url("images/Building-One.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.two{
    height: 300px;
    width: 100%;
    background-image: url("images/building-two.jpg");
    background-size: cover;
    filter: grayscale(100%);
}

.three{
    height: 300px;
    width: 100%;
    background-image: url("images/building-three.webp");
    background-size: cover;
    filter: grayscale(100%);
}
.four{
    height: 300px;
    width: 100%;
    background-image: url("images/building-four.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.five{
    height: 300px;
    width: 100%;
    background-image: url("images/bulding-five.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.six{
    height: 300px;
    width: 100%;
    background-image: url("images/building-six.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.seven{
    height: 300px;
    width: 100%;
    background-image: url("images/building-seven.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.eight{
    height: 300px;
    width: 100%;
    background-image: url("images/building-eight.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.nine{
    height: 300px;
    width: 100%;
    background-image: url("images/building-nine.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.ten{
    height: 300px;
    width: 100%;
    background-image: url("images/bulding-ten.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.eleven{
    height: 300px;
    width: 100%;
    background-image: url("images/building-11.webp");
    background-size: cover;
    filter: grayscale(100%);
}
.tweleve{
    height: 300px;
    width: 100%;
    background-image: url("images/12.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.thirteen{
    height: 300px;
    width: 100%;
    background-image: url("images/building-13.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.fourteen{
    height: 300px;
    width: 100%;
    background-image: url("images/14.jpg");
    background-size: cover;
    filter: grayscale(100%);
}
.fifteen{
    height: 300px;
    width: 100%;
    background-image: url("images/15.jpg");
    background-size: cover;
    filter: grayscale(100%);    
}
@keyframes scroll {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}
.card:hover{
    filter: grayscale(0%);
    /* transform: rotate(1turn); */
    transition: all .5s;
    z-index: 999;
}
nav .nav-links {
    z-index: 9999;
}

.hamburger {
    z-index: 10000;
}



/* For mobile view */
@media (max-width: 768px) {
    nav .nav-links {
        position: absolute;
        top: 90px;
        right: 0;
        background: white;
        width: 60%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        padding: 0;
        transition: height 0.4s ease;
    }
    nav{
        justify-content: space-between;
    }
    nav .nav-links.active {
        height: auto;
        width: 100vw;
        padding-bottom: 15px; 
    }

    nav .nav-links li {
        padding: 15px;
        color: black;
    }

    .hamburger {
        display: flex;
    }
    .content{
        position: static;
        margin: auto;
        text-align: center;
        padding: 40px 20px;
        width: 100%;
        margin-top: 300px;
    }
    .content h1 {
        font-size: 32px;         
        line-height: 1.3;
        letter-spacing: 1px;
    }

    .content p {
        font-size: 14px;
    }

    .content button {
        position: static;        
        margin-top: 20px;
    }
    #heading{
        display: none;
    }
    .wrapper{
        display: none;
    }
}
nav.scrolled .hamburger span {
    background: black;
}

